<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test page web </title>
</head>
<body>
test page web   

<form id="user-text-form">
    <p>
    <label for="user-text-form"></label>
    <input type="text" id="userText" class="input--usertext" name="userText" placeholder="Ajouter">
    <input type="submit" value="Envoyer">
    </p>
</form>


<script>
    let form = document.querySelector("#user-text-form");

    form.addEventListener("submit", function (event) {
        event.preventDefault();
        fetch("/ajax", {
            method: "POST",
            body: new FormData(form)

        });
    })
</script>

</body>
</html>