
/* Title */

#head {

    color: white;
    font-family: monospace;
    left:0px;
    right:-60%;
    top : 45%;
    margin: 0;
    display: none;
    text-align: center;
    position: relative;
}

/* Body style */

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: #778899;
    
}


/* Search form style */


#chatbox
{
    display: block;
    text-align: center;
    width: 400px;
    height: 400px;
    margin: auto;
}

#usertext-form{

  position: absolute;
  display: inline-block;

}

form{
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 370px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid white;
    padding: 5px;
    position: relative;
    margin-left: auto;
    margin-right:auto ;
    bottom: 100px;
    display: inline-block;
    
  
    
    
}

input{
    
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

button{
    display: none;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 470px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: white;
}

/* tchat */


#imessages {
  font-family: "monospace";
  font-weight: normal;
  font-size: 14px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 350px;
  height: 400px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right:auto ;
  
}
section div {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 10px;
  line-height: 24px;
}


.from-me {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #0B93F6;
  border:4 transparent;
  border-radius: 25px;
  float: right;
}
.from-me:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0B93F6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.from-me:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background: #778899;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.from-them {
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  float: left;
}
.from-them:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.from-them:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background:#778899;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}