
body {
    padding: 0;
    margin: 0;
    background: hsl(210, 14%, 53%);
    height: 100%
}


/* header */


.cont_title {

  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  align-content: center;
  margin-left: 10px;
    
}

.title1{

  font-size:50pt;
  font-family: monospace;
  color: white;

}

.title2{

  font-size:50pt;
  font-family: monospace;
  color:white;

}

#donut{

  width: 80px;
  height: 80px;

}

/* section */

section{

  display: flex;
  max-height: 550px;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  
}

.grandpy{

  display: flex;
  width: 350px;
  height: 350px;
}

.tchatbox{

  display: flex;
  flex-direction: column;
  width: 350px;
  height: 550px;
  
}

.imessages{

  font-size: 10pt;
  font-family: monospace;
  width: 330px;
  height: 500px;
  margin: auto;
  overflow-y: scroll;

}

section div {
  max-width: 350px;
  word-wrap: break-word;
  margin-bottom: 10px;
  line-height: 24px;
}

.from-me {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: rgb(68, 87, 100);
  border-radius: 25px;
  float: right;
}
.from-me:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  
  
  
}
.from-me:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background: #778899;
}

.from-them {
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  float: left;
}
.from-them:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
 
}
.from-them:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  
}
.map_google{

  display: flex;
  visibility: hidden;
  width: 350px;
  height: 350px;
  
}

.map{

  border: 2px solid rgb(68, 87, 100);
  width: 350px;
  height: 350px;

}

/* section2 */

.user{

  display: flex;
  width: 350px;
  height: 80px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;

}

form{

    width: 350px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    
    
}

input{
    
    width: 350px;
    height: 50px;
    line-height: 30px;
    outline: 0;
    border: 0;
    padding: 0 20px;
    border-radius: 25px;
    justify-content: center;

    
}

button{
    display: none;
}

/* footer*/


.footer{

  display: flex;
  max-height: 40px;
  flex-direction:row;
  justify-content: right;
  align-items: center;
  
}

#author{

  font-size: 10pt;
  font-family: monospace;
  color: black;

}

#github{

  height: 30px;
  width: 30px;
}
